@{
    ViewBag.Title = "Підтвердження Email";
}

<div class="container-center">
    <h2>Підтвердження Email</h2>
    <p>Ваш email успішно підтверджено! Тепер ви можете увійти в систему.</p>
    <p><a href="@Url.Action("Login", "Account")">Увійти</a></p>
</div>
<style>
  
    header, footer {
        display: none;
    }
</style>