@{
    ViewBag.Title = "Підтвердження відновлення паролю";
}

<div class="container-center">
    <h2>Перевірте вашу пошту</h2>
    <p>Ми надіслали вам email із посиланням для скидання паролю. Будь ласка, перевірте вашу поштову скриньку.</p>
    <p>Повернутися до <a asp-action="Login" asp-controller="Account">входу</a></p>
</div>
<style>

    header, footer {
        display: none;
    }
</style>