@{
    ViewBag.Title = "Підтвердження реєстрації";
}

<div class="container-center">
    <h2>Підтвердження реєстрації</h2>
    <p>Дякуємо за реєстрацію! Будь ласка, перевірте вашу пошту та перейдіть за посиланням для підтвердження вашого email.</p>
    <p>Не отримали лист? <a href="@Url.Action("Register", "Account")">Спробуйте ще раз</a></p>
</div>
<style>

    header, footer {
        display: none;
    }
</style>