@{
    ViewBag.Title = "Пароль скинуто";
}

<div class="container-center">
    <h2>Пароль успішно скинуто</h2>
    <p>Ваш пароль було успішно змінено. Тепер ви можете <a asp-action="Login" asp-controller="Account">увійти</a> з новим паролем.</p>
</div>
<style>

    header, footer {
        display: none;
    }
</style>