/* Власні стилі для сторінок входу та реєстрації */
body {
    background: linear-gradient(to right, #a3cffa, #ffffff);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center; /* Центрування по вертикалі */
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #1e90ff;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Максимальна ширина форми */
    margin: 0 auto; /* Центрування форми */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/*input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}*/

    input[type="submit"]:hover {
        background-color: #007bff;
    }

p {
    text-align: center;
    margin-top: 15px;
}

    p a {
        color: #1e90ff;
        text-decoration: none;
    }

        p a:hover {
            text-decoration: underline;
        }

 Приховуємо навбар і футер на сторінках входу та реєстрації 
header, footer {
    display: none;
}

/* Додатковий контейнер для центрованого вмісту */
.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
