  @model DAL.Models.User

  @{
      ViewData["Title"] = "Редагування профілю";
  }

  @if (TempData["SuccessMessage"] != null)
  {
      <div class="alert alert-success">
          @TempData["SuccessMessage"]
      </div>
  }

  <h2>Редагування профілю</h2>

  <form asp-action="Edit" method="post">
      <input type="hidden" asp-for="Id" /> <!-- Це важливо для передачі Id користувача -->
      <div class="form-group mb-4">
        <label asp-for="UserName">Ім'я</label>
        <input asp-for="UserName" class="form-control form-control-lg" required />
        <span asp-validation-for="UserName" class="text-danger"></span>
      </div>
      <div class="form-group mb-4">
          <label asp-for="Email">Електронна пошта</label>
          <input asp-for="Email" class="form-control form-control-lg" required type="email" />
          <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group mb-4">
          <label asp-for="Weight">Вага (кг)</label>
          <input asp-for="Weight" class="form-control form-control-lg" type="number" step="0.1" required />
          <span asp-validation-for="Weight" class="text-danger"></span>
      </div>
      <div class="form-group mb-4">
          <label asp-for="Height">Зріст (см)</label>
          <input asp-for="Height" class="form-control form-control-lg" type="number" step="0.1" required />
          <span asp-validation-for="Height" class="text-danger"></span>
      </div>
      <div class="form-group mt-4 text-center">
          <button type="submit" class="btn btn-primary btn-lg">Зберегти</button>
      </div>
  </form>



  <style>
      header, footer {
          display: none;
      }
  </style>